# DB Configuration

DBHOST=
DBUSER=
DBPASSWORD=
DATABASE=


# Server Environment
NODE_ENV=
PORT=

# Security
JWT_SECRET=

# AWS
AWS_REGION=
AWS_ACCESS_KEY=
AWS_SECRET_ACCESS_KEY=
AWS_SIGNATURE_VERSION=
AWS_S3_BUCKET_NAME=

IMAGE_PATH=